html{
	background-color: #A4A4A4;
}
header{
	text-align: center;
}
form{
	text-align: left;
	margin:50px 10px 10px 80px;
	font-size: 120%;

}
img{
	width:100%;
    max-width:400px;
	height: 100%;
	max-height: 250px;
	float: right;
	margin:100px 90px 10px 10px;
	border-radius: 30px;

}

#confirm {
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#confirm:hover {background-color: #3e8e41}
#confirm	:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



