.revealed{
	margin:20px;
	letter-spacing:0.5em;
}
.userInput{
	margin:20px;
}
html{
    margin:30px;
    background-color: #31283A;
}
header {
    background-color: #2B1144;
    text-align:center;
    padding:5px;
    margin-bottom:20px;
    
  }
section{
    background-color: #2B1144;
    padding: 150px;
    
}
img {
    
    float: right;
    margin: -80px 0px 10px 10px;
    width:230px ;
    height:300px;
}
