
html{
	background-color: #A4A4A4;
}
header{
	text-align: center;
	font-size: 120%;

}

img{
	width:100%;
    max-width:400px;
	height: 100%;
	max-height: 250px;
	
	margin:100px 90px 10px 480px;
	position: center;
	border-radius: 120px;

}
div{
	text-align: center;
}
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
